 body {
    background: #02111D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #02111D, #037BB5, #02111D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #02111D, #037BB5, #02111D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/*Banner*/
header {
    background-image: url(../media/img/Banner/headerBanner.jpg);
    height: 200px;
    width:100%;
    background-size: cover;
}
.logo {
    height: 200px;
    width:100%;
}

/*NavBar*/
ul li a {
    color: #DFD92A;
    opacity: .35;
    margin-top: 10px;
}
ul li a:hover {
    background-color: lavender;
    opacity: .5;
    color: maroon;
}
.intro {
    color: white;
}



